@media (max-width: 576px) {
    .layout{
        display: grid;
        grid-template-rows: 1fr 1.5fr 5fr 0.5fr;
        grid-template-areas: 
        "header"
        "filtro"
        "principal"
        "footer";
    }

    .seccion-principal-mobile{
        grid-area: principal;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .burger{
        display: flex;
        align-items: center;
        color: white;
        padding: 15px;
    }

    .logo{
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 15px;
    }

    .menu{
        display: none
    }

    .header-desktop{
        display: none
    }

    .header-mobile{
        grid-area: header;
        background-color: blue;
        color: white;
        display: flex;
        justify-content: space-between;
    }
    .pie-pagina-mobile{
        grid-area: footer;
        background-color: blue;
        color: white;
        display: flex;
        justify-content: space-between;
        }
}







@media (min-width: 576px) {
    .layout{
        display: grid;
        grid-template-rows: 1fr 10fr 1fr;
        grid-template-columns: 10rem 1fr;
        grid-template-areas: 
        "header filtro"
        "header principal"
        "footer principal";
    }
    .seccion-principal-desktop{
        grid-area: principal;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: start;
    }

    .burger{
        display: none
    }

    .header-mobile{
        display: none
    }

    .logo-desktop{
        display: flex;
        align-items: start;
        justify-content: start;
        padding: 15px;
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .menu tr a{
        display: flex;
        flex-direction: column;
        align-items: start;
        color: white;
        padding: 10px;
    }

    .header-desktop{
        grid-area: header;
        background-color: blue;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .pie-pagina-desktop{
        grid-area: footer;
        background-color: blue;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: end;
        }
}
  
    .body{
        font-family: 'Poppins', sans-serif;
        font-family: 'Roboto', sans-serif;

        
    }
    
    

    .seccion-filtros{
        grid-area: filtro;
        display: flex;
        flex-direction: column;
        background-color: gray;
        color: white;
        padding: 15px;
        justify-content: center;
        align-items: center;
    }
    
    .filtro{
        font-family: 'Poppins', sans-serif;
        font-family: 'Roboto', sans-serif;
        color: blue;
        width: 100%;
        padding: 10px;
    }


    .img-auto img{
        width: 200px;
        height: auto;
        padding-bottom: 10px;
        
    }

    .card {
        border: solid red;
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;

    }

    .paginacion{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: blue;
    }

    .boton {
        background-color: blue;
        border-radius: 5px;
        color: white;
        padding: 5px;
    }



    .linkedin{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: smaller;
        padding-bottom: 10px;
        padding-top: 10px;
    }